*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: Arial, Helvetica,sans-serif;
    background-color: rgb(255, 255, 255);
}

.logo{
    color:  rgb(133, 88, 88);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    text-decoration: none

}

.logo a{
    text-decoration: none;
    color: rgb(133, 88, 88);
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(133, 88, 88);
}

.bx-cart{
    font-size: 1.5rem;
    display: flex;
    
}

.nav-links li {
    list-style-type: none;
}

.category{
    /* display: flex;
    
    flex-direction: row; */
    margin: 100px;
    justify-content: center;
}

/* .category p{
    display: flex;
    justify-content: center;
    flex-direction: row;
} */
#chocolates-container {
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(450px, auto);
  }

#chocolates-container button{
    
    
    transition-duration: 0.4s;
    font-weight: 100px;
    font-size: large;
    font-family: Arial, Helvetica,sans-serif;

      
      
    
    border: 2px solid #1113112f;

  }

  #chocolates-container button:hover{
        background-color: #d4d4d4; /* Green */
        color: white;
    

  }


.chocolate-card{
    height: 150px; 
    width:  auto;
    margin: 60px;
  }



.back-card{
    height: 150px; 
    width:  auto;
    margin: 60px;
  }

.image-box{
    /* display: grid;
    height: 100%;
    width: 100%; */
    position: relative;
    height: 500px;
    overflow: hidden;
    background-image: url("../pexels-elle-hughes-1474264copy.jpg");
    background-size: cover;

}

.footer {
    background-color: rgb(0, 0, 0);
    height: 200px;
    position: relative;
    color: white;
}



.img-clickables{
      height: 250px;
      width: 150px;
      border-radius: 5px 5px 0 0;
      transition: transform .2s
  }

.img-clickables:hover{
    transform: scale(1.15)
}

p  {
      font-weight: bold;
      margin-top: 10px;
  }

input[type=text] {
    margin: 10px;
    /* border-radius:10px; */
    /* box-shadow:0 0 5px 4px rgba(139, 139, 139, 0.096) */
  } 

form {
    box-sizing: border-box;
    margin: 5px;
}

.container{
    overflow: auto;
    word-wrap: break-word;
}