*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 234, 234);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: Arial, Helvetica,sans-serif;
    background-color: rgb(133, 88, 88);
}

.logo{
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    text-decoration: none

}

.logo a{
    text-decoration: none;
    color: rgb(218, 214, 214);
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(218, 214, 214);
}

.nav-links li {
    list-style-type: none;
}

.category{
    /* display: flex;
    
    flex-direction: row; */
    margin: 100px;
    justify-content: center;
}

/* .category p{
    display: flex;
    justify-content: center;
    flex-direction: row;
} */
#chocolates-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(450px, auto);
  }
.chocolate-card{
    height: 150px; 
    width:  auto;
    margin: 60px;
  }

img {
      height: 250px;
      width: 150px;
      border-radius: 5px 5px 0 0;
      transition: transform .2s
  }

img:hover{
    transform: scale(1.15)
}

  p {
      font-weight: bold;
      margin-top: 10px;
  }

.container{
    overflow: auto;
    word-wrap: break-word;
}